# First Year Site Selection at VSFB

I'm lucky enough to get funding to start my master's before I actually begin classes at Cal Poly. The goal of this early work is to come up with a game plan for my first year of work at VSFB. It will require I do a few things, but the first is simply to select one site at VSFB where I can collect data. This notebook is intended to fulfill that objective

# Cleaning Thanksgiving Count Data

I need to load the most current Thanksgiving count data and prepare it for analysis.

In [27]:
import pandas as pd
# display all columns in pandas
pd.set_option('display.max_columns', None)

# Load the Thanksgiving and New Years count data
df = pd.read_excel(
    'ThanksgivingCount-and-NewYearsCount_WMC-Data_2022-23_FINAL.xlsx')

#Print the first 5 rows of the data
df.head()

,SITE ID,SITE NAME,COUNTY,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,NY 2016-17,2017,NY 2017-18,2018,NY 2018-19,2019,NY 2019-20,2020,NY 2020-21,2021,NY 2021-22,2022,NY 2022-23
0,3120.0,Anchor Bay,Mendocino,1310.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,5.0,0.0,0.0,0,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,0.0,0.0
1,3118.0,"China Gulch, Gualala",Mendocino,2000.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,0.0,0,0.0,NaN,2.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0
2,3119.0,"Fish Rock #1, Anchor Bay",Mendocino,NaN,50.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3122.0,"Bay Flat Rd., Bodega Bay",Sonoma,NaN,NaN,450.0,700.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0
4,3121.0,"Bodega Dunes Campground, Bodega Bay",Sonoma,NaN,NaN,300.0,2500.0,4.0,NaN,160.0,34.0,0.0,0.0,0.0,0.0,0.0,NaN,600.0,10.0,0.0,8.0,10,50.0,NaN,10.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0

## Site ID

Let's check to see if there are any issues with Site ID, specifically does every row have an identifier and are there any duplicates.

In [28]:
# show null values for site ID
df[df['SITE ID'].isna()]

,SITE ID,SITE NAME,COUNTY,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,NY 2016-17,2017,NY 2017-18,2018,NY 2018-19,2019,NY 2019-20,2020,NY 2020-21,2021,NY 2021-22,2022,NY 2022-23
363,NaN,Buckskin State Park,"Parker, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.000000,NaN,8.000000,NaN,0.000000,NaN,2.000000,NaN,0.000000,NaN,0.000000,40.000000,12.000000,NaN
364,NaN,Desert Botanical Garden,"Phoenix, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,1.000000,NaN,0.000000,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
365,NaN,McClintock & Salt River Riparian Area,"Tempe, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,12.000000,NaN,2.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN
366,NaN,Rio Salado Habitat Restoration Area-Main,"Phoenix, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,42.000000,NaN,12.000000,2.000000,10,6.000000,NaN,2.000000,NaN,3.000000,NaN,2.000000,NaN,8.000000,0.000000,13.000000,13.000000,7.000000,7.000000
367,NaN,Rio Salado Habitat Restoration Area-N. Anex,"Phoenix, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,26.000000,NaN,0.000000,0.000000,0,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
368,NaN,Rio Salado Habitat Restoration Area-S. Anex,"Phoenix, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,18.000000,NaN,1.000000,0.000000,1,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
369,NaN,Rotary Park,"Lake Havasu, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.000000,NaN,6.000000,NaN,0.000000,NaN,2.000000,NaN,3.000000,0.000000,106.000000,30.000000,65.000000,NaN
370,NaN,Singh Farm,"Scottsdale, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,0,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,NaN
371,NaN,South Mountain & 24th Street,"Phoenix, AZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,15.000000,NaN,6.000000,3.000000,NaN,1.000000,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN
375,NaN,NaN,Total monarchs reported,1.235490e+06,564349.000000,267074.000000,390057.000000,209570.000000,99353.000000,254378.000000,205085.000000,218679.000000,221058.000000,86437.000000,131889.000000,58468.000000,143204.000000,222525.000000,144812.000000,211275.000000,234731.000000,292888,298464.000000,98950.000000,192624.000000,74728.000000,27721.000000,16554.000000,29436.000000,11971.000000,1901.000000,1069.000000,247246.000000,151168.000000,335479.000000,116758.000000
376,NaN,NaN,Number of sites monitored,1.010000e+02,111.000000,117.000000,139.000000,126.000000,94.000000,123.000000,83.000000,91.000000,87.000000,92.000000,116.000000,76.000000,114.000000,129.000000,136.000000,163.000000,185.000000,187,253.000000,46.000000,263.000000,115.000000,213.000000,144.000000,242.000000,119.000000,250.000000,167.000000,285.000000,209.000000,272.000000,177.000000
377,NaN,NaN,Average,1.223257e+04,5084.225225,2282.683761,2806.165468,1663.253968,1056.946809,2068.113821,2470.903614,2403.065934,2540.896552,939.532609,1136.974138,769.315789,1256.175439,1725.000000,1064.794118,1296.165644,1268.816216,1566.245989,1179.699605,2151.086957,732.410646,649.808696,130.145540,114.958333,121.636364,100.596639,7.604000,6.401198,867.529825,723.291866,1233.378676,659.649718
378,NaN,NaN,Standard error,2.178676e+03,1369.760822,625.097425,610.327556,438.277802,359.998915,468.564651,587.072212,712.935123,530.292656,265.198825,294.029787,260.384977,342.785451,333.059149,295.471406,296.441483,291.047093,267.080313,220.816559,500.408714,135.590646,202.242481,24.381742,31.050102,35.855150,40.067409,2.443395,3.383290,175.331821,156.671828,233.807232,181.023487
379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,NaN,Thanksgiving & New Year's Count Comparison:,Number of sites monitored for both Thanksgivin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.000000,NaN,115.000000,NaN,130.000000,NaN,118.000000,NaN,160.000000,NaN,196.000000,NaN,169.000000,NaN
381,NaN,NaN,Modified Thanksgiving Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171293.000000,NaN,147299.000000,NaN,25441.000000,NaN,21944.000000,NaN,1603.000000,NaN,241426.000000,NaN,275570.000000,NaN
382,NaN,NaN,Modified New Year's Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98950.000000,NaN,74728.000000,NaN,16063.000000,NaN,11970.000000,NaN,1039.000000,NaN,150453.000000,NaN,116741.000000,NaN
383,NaN,NaN,Percent Change (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.422335,NaN,-0.492678,NaN,-0.368618,NaN,-0.454521,NaN,-0.351840,NaN,-0.376815,NaN,-0.576365,NaN

So there are indeed, many rows that have no site ID. The bottom half are totals which I am not interested in, so they are easy to drop. The rest are sites in Arizona. I'm not sure why they don't have site ID's, but they are beyond the scope of my project, so I will drop them as well. Easy!

In [29]:
print(len(df))
df = df[~df['SITE ID'].isna()]
print(len(df))

384
366

Now let's check for duplicates in Site ID

In [30]:
# Check for duplicate 'SITE ID' values
duplicate_rows = df[df.duplicated(['SITE ID'], keep=False)]

duplicate_rows.sort_values('SITE ID')

Empty DataFrame
Columns: [SITE ID, SITE NAME, COUNTY, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, NY 2016-17, 2017, NY 2017-18, 2018, NY 2018-19, 2019, NY 2019-20, 2020, NY 2020-21, 2021, NY 2021-22, 2022, NY 2022-23]
Index: []

Great. Nice clean data with each site having a unique value.

## Transpose data

Now let's take this wide data table and make it long. The goal here is to reduce the total number of columns so the data is easier to work with. 

I used ChatGPT to help me make the transformation.

In [31]:
# Convert all column names to string type
df.columns = df.columns.astype(str)

# Identify normal year columns (those that can be converted to integers)
normal_year_cols = [col for col in df.columns if col.isdigit()]

# Split the dataframe into two
normal_years_df = df[['SITE ID', 'SITE NAME', 'COUNTY'] + normal_year_cols].copy()
ny_years_df = df[['SITE ID', 'SITE NAME', 'COUNTY'] + [col for col in df if col.startswith('NY')]].copy()

# Add 'EVENT' column to both dataframes
normal_years_df['EVENT'] = 'Thanksgiving'
ny_years_df['EVENT'] = 'NewYear'

# Melt both dataframes
normal_years_melt = normal_years_df.melt(id_vars=['SITE ID', 'SITE NAME', 'COUNTY', 'EVENT'], var_name='YEAR', value_name='COUNT')
ny_years_melt = ny_years_df.melt(id_vars=['SITE ID', 'SITE NAME', 'COUNTY', 'EVENT'], var_name='YEAR', value_name='COUNT')

# Clean the 'YEAR' column
normal_years_melt['YEAR'] = normal_years_melt['YEAR'].astype(int)
ny_years_melt['YEAR'] = ny_years_melt['YEAR'].str.extract('(\d+)').astype(int)

# Concatenate the two melted dataframes
df = pd.concat([normal_years_melt, ny_years_melt])

df

,SITE ID,SITE NAME,COUNTY,EVENT,YEAR,COUNT
0,3120.0,Anchor Bay,Mendocino,Thanksgiving,1997,1310.0
1,3118.0,"China Gulch, Gualala",Mendocino,Thanksgiving,1997,2000.0
2,3119.0,"Fish Rock #1, Anchor Bay",Mendocino,Thanksgiving,1997,NaN
3,3122.0,"Bay Flat Rd., Bodega Bay",Sonoma,Thanksgiving,1997,NaN
4,3121.0,"Bodega Dunes Campground, Bodega Bay",Sonoma,Thanksgiving,1997,NaN
...,...,...,...,...,...,...
2557,3157.0,Rancho Santa Anita (Mex. 3),Baja California,NewYear,2022,NaN
2558,3253.0,Real Del Mar,Baja California,NewYear,2022,NaN
2559,2846.0,Hunter Canyon,Inyo,NewYear,2022,NaN
2560,2847.0,McElvoy Canyon,Inyo,NewYear,2022,NaN
2561,2848.0,Willow Canyon,Inyo,NewYear,2022,NaN

I'm currently unclear if I should drop the years with null values. It may be useful down the line depending on the analysis, so I will leave them for the moment. 

Next step is to a bit of clean up and convert SITE ID and Count to Integers. I think we will have a nice dataset to work with after that.

In [33]:
# Convert non-numeric 'COUNT' values to NaN
df['COUNT'] = pd.to_numeric(df['COUNT'], errors='coerce')

# Convert 'SITE ID' and 'COUNT' to integers, using 'Int64' dtype to handle NaN values
df['SITE ID'] = df['SITE ID'].astype('Int64')
df['COUNT'] = df['COUNT'].astype('Int64')

df.dtypes

SITE ID       Int64
SITE NAME    object
COUNTY       object
EVENT        object
YEAR          int64
COUNT         Int64
dtype: object

In [34]:
df

,SITE ID,SITE NAME,COUNTY,EVENT,YEAR,COUNT
0,3120,Anchor Bay,Mendocino,Thanksgiving,1997,1310
1,3118,"China Gulch, Gualala",Mendocino,Thanksgiving,1997,2000
2,3119,"Fish Rock #1, Anchor Bay",Mendocino,Thanksgiving,1997,<NA>
3,3122,"Bay Flat Rd., Bodega Bay",Sonoma,Thanksgiving,1997,<NA>
4,3121,"Bodega Dunes Campground, Bodega Bay",Sonoma,Thanksgiving,1997,<NA>
...,...,...,...,...,...,...
2557,3157,Rancho Santa Anita (Mex. 3),Baja California,NewYear,2022,<NA>
2558,3253,Real Del Mar,Baja California,NewYear,2022,<NA>
2559,2846,Hunter Canyon,Inyo,NewYear,2022,<NA>
2560,2847,McElvoy Canyon,Inyo,NewYear,2022,<NA>
2561,2848,Willow Canyon,Inyo,NewYear,2022,<NA>

# Habitat Quality Index

Now that we have a nice clean dataset, I'm interested in seeing if I can develop a 'score' on how good a site should be. I have a few thoughts on this: 

1. The count is the primary metric, where higher counts indicates better quality
2. The consistency of site occupancy is also quite important, where persistent use of the site indicates quality
3. Some attention should be given to how much a site is surveyed, or data completeness
4. Also more recent counts should have higher precedence
5. Site retention, or the relative drop from Thanksgiving to New Years might also be of interest